usercache.json
usernamecache.json
rhino.local.properties
options.txt
fabricloader.log
shaderpacks/**
screenshots
saves
resourcepacks
modernfix
logs
local
fancymenu_data
crash-reports
config/oculus.properties
config/ironchests/defaults.properties
config/jei/world/local/New_World__1/bookmarks.ini
config/inventoryprofilesnext/integrationHints/exampleIntegrationHints.json
