usercache.json
usernamecache.json
rhino.local.properties
options.txt
fabricloader.log
shaderpacks/**
screenshots
saves
resourcepacks
modernfix
logs
local
fancymenu_data
crash-reports
config/oculus.properties
config/ironchests/defaults.properties
config/jei/world/local/New_World__1/bookmarks.ini
config/powah.json5
config/ae2/client.json
config/inventoryprofilesnext/**
!config/inventoryprofilesnext/inventoryprofiles.json
config/inventoryprofilesnext/New World/villager-trading-config.json
config/Mekanism/client.toml
config/voicechat/voicechat-client.properties
config/Mekanism/client.toml
config/jade/sort-order.json
config/jade/plugins.json
